 *{
  margin: 0px;
  padding: 0px;
 }


 #Menu ul{
    list-style: none;

}
#Menu ul li{

  background-color: #008080;
  border: 1px solid grey;
  width: 240px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 22px;
  float: left;
  position: relative;
  border-radius: 10px;
}
#Menu ul li a{
  text-decoration: none;
  color: white;
  display: block;
}
#Menu ul li a:hover{
  background-color:#413839;
  border-radius: 10px;
}
#Menu ul ul{
  position: absolute;
  display: none;
}
#Menu ul li:hover > ul{
  display: block;
}
#Menu ul ul ul{

  margin-left: 240px;
  top: 0px;
}


#slider{
  width:1200px;
  height: 400px;
  overflow: hidden;
  margin-left: 40px;
  padding-top: 100px;

  
}
#slider .slides{
display:block;
width: 8400px;
height: 400px;
margin :0;
padding:0;

}
#slider .slide{
float:left;
list-style-type:none;
width:1200;
height: 400px; 



}
img{
  
    width:1200;
	  height: 400px;
}

.logo img{
  height: 180px;
  width: 210px;
  margin-top: -50px;
  margin-left: 10px;
}
.heading{


font-size: 80px;
text-align: center;
font-weight: bolder;
color: brown;
margin-top: -120px;
/*margin-left: 10px;*/

}

nav{

  margin-left: 100px;
  
}
footer{
  background-color: silver;
  width: 100%;
  height: auto;
 }
 .fb img{
  height: 10px;
  width: 40px;
  margin-top: -80px;
  margin-left: 500px;
}
.tw img{
  height: 40px;
  width: 40px;
  margin-top:-89px;
  margin-left: 590px;
  border-radius: 100%;
}
.ins img{
  height: 40px;
  width: 40px;
  margin-left: 680px;
 border-radius: 100%;
 margin-top:-88px;
}
.yt img{
  height: 40px;
  width: 40px;
  margin-left: 770px;
    border-radius: 100%;
      margin-top:-89px;
}
.cr{
  margin-left: 525px;
  margin-top: 15px;
  font-size: 20px;
}
.log img{
  height: 90px;
  width: 90px;
  /*margin-top: -50px;*/
  /*margin-left: 10px;*/
}
.ab{
  margin-left: 1100px;
  margin-top:-120px;
}











.ref{
  height: 500px;
  width: 500px;
  margin-left:-30px;
  margin-top: 70px;
}
.db{
  margin-left: 50px;
}
.ref1{
  height: 500px;
  width: 500px;
  margin-left:10px;
  margin-top: 70px;
}
.ac1{
  margin: 5px;
}